body {
    background-color: rgb(28, 183, 255);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.inicio {
    display: flex;
height:100vh;
}
.foto{
    flex: 1;
background-color: rgb(28, 183, 255);
display: flex;
justify-content: center;
align-items: center;
}
.foto img{
    width: 600px;
    height: 600px;
    border-radius: 8px;
}